<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@1,100&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles/error.css}"/>
</head>
<body>
    <div class="centers">
        <div class="text">
            <h2>Oops!</h2>
            <h4>The page you are looking for does not exist.</h4>
        </div>
        <div class="image">
            <img th:src="@{images/error/error.png}">
        </div>
    </div>
</body>
</html>