<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@1,100&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Prediction System-Model</title>
    <link rel="stylesheet" type=    "text/css" th:href="@{styles/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{styles/model.css}"/>
</head>
<body>
    <script th:src="@{js/script.js}"></script>
    <main>
        <section class="vert1">
            <div class="features">
                <h3>Features</h3>
                <form action="result">
                    <div class="sliders">
                        <!-- First Slider for Pregnancy -->
                        <div class="slider">
                            <div class="text">
                                <h6 class="tpc0">Pregnancies</h6>
                            </div>
                            <div class="slide">
                                <input type="range" min="0" max="100" value="50" oninput="rangeValue1.innerText=this.value"/>
                                <p id="rangeValue1">50</p>
                            </div>
                        </div>

                        <!-- Second Slider for Glucose -->
                        <div class="slider">
                            <div class="text">
                                <h6 class="tpc1">Glucose</h6>
                            </div>
                            <div class="slide">
                                <input type="range" min="0" max="100" value="50" oninput="rangeValue2.innerText=this.value"/>
                                <p id="rangeValue2">50</p>
                            </div>
                        </div>

                         <!-- Third Slider for BP -->
                         <div class="slider">
                            <div class="text">
                                <h6 class="tpc2">Blood_Pressure</h6>
                            </div>
                            <div class="slide">
                                <input type="range" min="0" max="100" value="50" oninput="rangeValue3.innerText=this.value"/>
                                <p id="rangeValue3">50</p>
                            </div>
                        </div>

                         <!-- Fourth Slider for Skin Thickness -->
                         <div class="slider">
                            <div class="text">
                                <h6 class="tpc3">Skin_Thickness</h6>
                            </div>
                            <div class="slide">
                                <input type="range" min="0" max="100" value="50" oninput="rangeValue4.innerText=this.value"/>
                                <p id="rangeValue4">50</p>
                            </div>
                        </div>

                         <!-- Fifth Slider for Insulin -->
                         <div class="slider">
                            <div class="text">
                                <h6 class="tpc4">Insulin</h6>
                            </div>
                            <div class="slide">
                                <input type="range" min="0" max="100" value="50" oninput="rangeValue5.innerText=this.value"/>
                                <p id="rangeValue5">50</p>
                            </div>
                        </div>

                         <!-- Sixth Slider for BMI -->
                         <div class="slider">
                            <div class="text">
                                <h6 class="tpc5">BMI</h6>
                            </div>
                            <div class="slide">
                                <input type="range" min="0" max="100" value="50" oninput="rangeValue6.innerText=this.value"/>
                                <p id="rangeValue6">50</p>
                            </div>
                        </div>

                         <!-- Seventh Slider for Pedigree -->
                         <div class="slider">
                            <div class="text">
                                <h6 class="tpc6">Pedigree</h6>
                            </div>
                            <div class="slide">
                                <input type="range" min="100" max="999" value="490" oninput="rangeValue7.innerText=this.value"/>
                                <p id="rangeValue7">490</p>
                            </div>
                        </div>


                         <!-- Eighth Slider for Age -->
                         <div class="slider">
                            <div class="text">
                                <h6 class="tpc7">Age</h6>
                            </div>
                            <div class="slide">
                                <input type="range" min="0" max="100" value="50" oninput="rangeValue8.innerText=this.value"/>
                                <p id="rangeValue8">50</p>
                            </div>
                        </div>
                    </div>
                </form>



                <div class="note">
                    <h3>Note</h3>
                    <p>Type 2 diabetes is the most common form of diabetes. You're more likely to get type 2 diabetes if you're overweight and inactive – or if you have prediabetes.</p>
                    <p>Having prediabetes means your blood glucose levels are higher than normal, but not high enough for you to be diagnosed with type 2 diabetes.</p>
                </div>
            </div>
        </section>
        <section class="vert2">
            <section class="elements">
                <h1>Medicare - Diabetes Prediction System</h1>
                <p>Having diabetes means glucose (sugar) levels in your blood are too high. Your body depends on glucose for energy. When you eat, most of the food turns into glucose. Your blood carries the glucose to other parts of your body.
                    <br><br>
                    When you have diabetes, your body has trouble turning glucose into energy. Instead of being used by your body, glucose builds up in your blood and your body is starved of energy. Over time, high blood glucose can damage almost every part of your body.
                    <br><br>
                    Diabetes is a chronic (long-term) condition.</p>
                
                    <div class="info">
                        <h3>Symptoms</h3>
                        <h4>What are the symptoms of Type 2 Diabetes</h4>
                        <p>Symptoms of type 2 diabetes often develop over several years. Many people with type 2 diabetes have symptoms for a long time without noticing them. Some people may never notice any symptoms.
                            <br><br>
                            Symptoms of diabetes include:</p>
                        <ul>
                            <li>Being very thirsty or hungry</li>
                            <li>Feeling more tired than usual</li>
                            <li>Urinating (peeing) more than usual</li>
                            <li>Losing weight for no reason</li>
                            <li>Having cuts or bruises that are slow to heal</li>
                            <li>Having blurry vision</li>
                            <li>Feeling numb or tingly in your hands or feet</li>
                        </ul>
    
                        <p>Because symptoms of type 2 diabetes can be hard to spot, it’s important to talk with your doctor about your risk for type 2 diabetes. If you have risk factors or notice any symptoms, ask your doctor about getting tested.</p>
                    </div>


                <div class="buttonsdiv" data-aos="fade-up" data-aos-duration="2000">                
                    <div class="button" id="selec" onclick="sliderChange()" type="submit">
                            <h4>Let's Predict</h4>
                    </div>
                    <div class="button">
                        <h4>LEARN MORE</h4>
                    </div>
                </div>



            <div class="results">
                <div class="dataparam">
                    <div class="parameter" th:each="par : ${parameters}">
                        <div>
                            <p th:text="${par}"></p>
                        </div>
                    </div>
                </div>
                <div class="dataval">
                    <div class="value" th:each="val : ${values}">
                        <div>
                            <p th:text="${val}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="legend">
                <h4>Legend</h4>
                <ul>
                    <li>Pregnancies :- Number of times a woman has been pregnant</li>
                    <li>Glucose :- Plasma Glucose concentration of 2 hours in an oral glucose tolerance test</li>
                    <li>BloodPressure :- Diastollic Blood Pressure (mm hg)</li>
                    <li>SkinThickness :- Triceps skin fold thickness(mm)</li>
                    <li>Insulin :- 2 hour serum insulin(mu U/ml)</li>
                    <li>BMI :- Body Mass Index ((weight in kg/height in m)^2)</li>
                    <li>Age :- Age(years)</li>
                    <li>DiabetesPedigreeFunction :-scores likelihood of diabetes based on family history)</li>
                </ul>
            </div>

            </section>
            
        </section>
    </main>


</body>
</html>