*{
    margin: 0;
    box-sizing:border-box;
}


body{
    background: #000;
    --thumbNumber: "50";
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

::-webkit-scrollbar-track {
    background-color: transparent;
  }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #565454;
}


.vert1{
    background: #1c1c1d;
    width: 25%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    padding: 30px;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
}

.vert1 .features{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: left;
    justify-content: space-between;
    padding-top: 80px;
    
}

.sliders{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-direction: column;
}

.slider{
    width: 300px;
    height: 60px;
    background: transparent;    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    
}

.slider .slide{
    display: flex;
    align-items: center;
}

.slider p{
    font-size: 15px;
    font-weight: 400;
    font-family: Consolas;
    padding-left: 30px;
    color: #0EE6B0;
}

.slider input[type="range"]{
    -webkit-appearance: none !important;
    width: 200px;
    height: 2px;
    background-color: #565454;
    border: none;
    outline:none;
}

.slider input[type="range"]::-webkit-slider-thumb{
    width: 30px;
    height: 30px;
    background: #0EE6B0;
    cursor: pointer;
}

.slider .text h6{
    font-size: 13px;
    font-family: Consolas;
}

.note{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Source Sans Pro', sans-serif;
}



.vert2{
    position: relative;
    background-color: transparent;
    margin-left: 25%;
}


.vert2 .elements{
    width: 80%;
    margin: auto;
    height: 100vh;
    padding-top: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}


.dataparam{
    display: flex;
    justify-content: space-between;
    align-items: left;
    gap: 30px;
    flex-direction: column;
}

.dataparam .parameter:nth-child(1){
    font-weight: 1000;
    font-size: 35px;
}



.dataval .value:nth-child(1){
    font-weight: 1000;
    font-size: 35px;
}

.dataval{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: left;
    flex-direction: column;
}

h3{
    font-size: 24px;
}

p{
    font-size: 17px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
    flex-direction: column;
}

.results{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
}